<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="nav-link"  routerLink="/home"><span>Home</span></a>
    <span class="example-spacer"></span>
    <a class="nav-link"  routerLink="/about"><span>About</span></a>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar> -->
<!-- <div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div>
  <strong>primary</strong>
  <router-outlet></router-outlet>
</div>
<div>
  <strong>left</strong>
  <router-outlet name="left" ></router-outlet>
</div>
<div>
  <strong>right</strong>
  <router-outlet  name="right"></router-outlet>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['']">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/primary']">Primary <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/secondary']">Secondary</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>